@model EasyGift.Models.Utilisateur

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Utilisateur</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nom" class="control-label"></label>
                <input asp-for="nom" class="form-control" />
                <span asp-validation-for="nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prenom" class="control-label"></label>
                <input asp-for="prenom" class="form-control" />
                <span asp-validation-for="prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateNaissance" class="control-label"></label>
                <input asp-for="DateNaissance" class="form-control" />
                <span asp-validation-for="DateNaissance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ville" class="control-label"></label>
                <input asp-for="ville" class="form-control" />
                <span asp-validation-for="ville" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cp" class="control-label"></label>
                <input asp-for="cp" class="form-control" />
                <span asp-validation-for="cp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nomUtilisateur" class="control-label"></label>
                <input asp-for="nomUtilisateur" class="form-control" />
                <span asp-validation-for="nomUtilisateur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mdp" class="control-label"></label>
                <input asp-for="mdp" class="form-control" />
                <span asp-validation-for="mdp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mail" class="control-label"></label>
                <input asp-for="mail" class="form-control" />
                <span asp-validation-for="mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numero" class="control-label"></label>
                <input asp-for="numero" class="form-control" />
                <span asp-validation-for="numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
