@{
    ViewData["Title"] = "Liste de cadeaux";
}

<h2>Ma liste de cadeaux</h2>

<form enctype="multipart/form-data" method="post" asp-action="Upload" asp-controller="HelloWorld">
    <input type="file" name="file" accept=".jpg, .png" />
    <input type="submit" />
</form>

<p>Voici votre liste de cadeau</p>